<!-- Above-the-Scroll Preview -->
<section class="center widest stack-small page-margin">
    
        <div class="" style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;">
            <figure>
                <img src="{{ .Params.assetPath }}vahealth_mock_1.png">
            </figure>
            <figure>
                <img src="{{ .Params.assetPath }}vahealth_mock_2.png">
            </figure>
        </div>

        <figure class="audioPlayerWrapper page-margin">
            <div class="vah_auralwireframe_1">
                <audio>
                    <source src="{{ .Params.assetPath }}vahealth_wireframe_fullrxflow.mp3" type="audio/mpeg">
                </audio>
            </div>
            <figcaption>
                Aural wireframe (recording) of the primary prescription refill flow
            </figcaption>
        </figure>

</section>