{{- define "main" -}}

<main>
<article class="stack-largest">

    <header class="casestudy__fullheader_wrapper">

        <div class="casestudy__fullheader u-container u-grid page-margin">

            <div class="casestudy__fullheader_image">
                <img src="{{ .Params.assetPath }}{{ .Params.layoutDetails.headerImage }}">
            </div>

            <div class="casestudy__fullheader_text stack-small">
                <div>
                    <p class="casestudy__fullheader_smallhead">Case Studies</p>
                    <h2 class="casestudy__fullheader_title">{{ .Title }}</h2>
                </div>
                <p class="casestudy__fullheader_deck">{{ .Params.description }}</p>
            </div>

        </div>

    </header>

    <!-- Intro + Grid -->
    <section class="center-intrinsic page-margin gsap__animate stack">

        <div>
            <h2 class="casestudy__minorheader">Overview</h2>
            <div class="prose casestudy__intro">
                {{ .Content }}
            </div>
        </div>

        <div class="grid casestudy__summary">
                
            <div class="stack-small">
                
                <div>
                    <h2 class="casestudy__minorheader">Client</h2>
                    <p>{{ .Params.intro.client }}</p>
                </div>

                <div>
                    <h2 class="casestudy__minorheader">Company</h2>
                    <p>{{ .Params.intro.company }}</p>
                </div>

                <div>
                    <h2 class="casestudy__minorheader">Platform</h2>
                    <p>{{ .Params.intro.platform }}</p>
                </div>
                
            </div>

            <div>
                <h2 class="casestudy__minorheader">My Responsibilities</h2>
                <ul>
                    {{ range .Params.intro.roles }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>

        </div>

        {{if .Params.layoutDetails.previewPartialPath }}
            {{ partial .Params.layoutDetails.previewPartialPath . }}
        {{ end }}

    </section>

    {{if .Params.layoutDetails.resultsPartialPath }}
        {{ partial .Params.layoutDetails.resultsPartialPath . }}
    {{ end }}

    {{ with .Resources.GetMatch "results.md" }}
    <section class="center-intrinsic prose page-margin gsap__animate">
        <!-- <h2 class="casestudy__minorheader">My Responsibilities</h2> -->
        {{ .Content }}
    </section>
    {{ end }}

    {{ with .Resources.GetMatch "story.md" }}
    <section class="center-intrinsic prose page-margin gsap__animate">
        {{ .Content }}
    </section>
    {{ end }}
        
</article>
</main>

{{- end -}}

{{- define "scripts" -}}
{{ with .Params.layoutDetails.audioFileClasses }}
<script src="/scripts/audio-player.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    {{ range . }}
	GreenAudioPlayer.init({
	  selector: '.{{ . }}',
	  stopOthersOnPlay: true,
	  enableKeystrokes: true
	});
    {{ end }}
  });
</script>
{{ end }}
{{- end -}}