{{ range where .Site.RegularPages.ByWeight "Section" "case-studies" }}
<a href="{{ .Permalink }}" class="container-link">
<article class="casestudy">
    <!-- <img alt="A kitten" src="http://placekitten.com/200/300"> -->
    <div class="casestudy-image"></div>
    <div class="casestudy-content">
        <h2>{{ .Title }}</h2>
        <ul class="tags">
            {{ range .Params.tags  }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
        <p>{{ .Params.description }}</p>
    </div>
</article>
</a>
{{ end }}