/* ==========================================================================
   ==========================================================================
   
   CUSTOM PROPERTIES!

   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   CUSTOM PROPERTIES: TYPE
   ========================================================================== */

/* Font Families
   ========================================================================== */

:root {
   --font-family-body: "Noto Sans", sans-serif;
   --font-family-headers: "Merriweather", serif;
   --font-family-nav: "Noto Sans", sans-serif;
   --font-family-logotype: "Merriweather", serif;

   font-family: var(--font-family-body);
}

/* Type Scale
   ========================================================================== */

:root {
   --type-scale: 0;

   font-size: 20px; /* Base font size, desktop */
}

/* Vertical Rhythm (line height, spacing, etc)
   ========================================================================== */

/**
 * Note to self: I have at least three different kinds of H1, and I SHOULD
 * SHOULD PROBABLY USE CLASSES FOR EACH OF THESE.
 * - Homepage H1, with my name in it
 * - "BlockBG" H1, with the stripe
 * - Article H1, with the color change
 * 
 * In addition, I have a situation where *most* of the time, I'm going to be
 * dividing headers up between different sections. So the vertical rhythm
 * is not going to be so much about margin-top, as margin-bottom, etc.

 * Remember, the key properties here are:
 * - Line-height
 * - Top and bottom offset
 * - Height, min-height, max-height
 * - Padding-top, padding-bottom, margin-top, margin-bottom
 * 
 */

:root {
   --type-lineheight-bodytext: 1rem;
   --type-lineheight-headers: 2.8rem;
   --type-lineheight-paragraph-spacing: var(--type-lineheight-bodytext);
}

h1 { line-height: 3rem; }
h2 { line-height: 1.75rem; }
h3 { line-height: 2.8rem; }
h4 { line-height: 2.8rem; }
p { line-height: auto; }
.blockbg {
   line-height: 3.2rem;
}

/* ==========================================================================
   CUSTOM PROPERTIES: COLORS
   ========================================================================== */

/* Color Palettes
   ========================================================================== */

:root {
   --color-accent-000: #FAFBFC;
   --color-accent-100: #F0F6FC;
   --color-accent-200: #DEE6EE;
   --color-accent-300: #A9C1D9;
   --color-accent-400: #85A8CC;
   --color-accent-500: #3F709E;
   --color-accent-600: #3F709E;
   --color-accent-700: #296094;
   --color-accent-800: #114D84;
   --color-accent-900: #1B2843;

   --color-accent-400-dark: #A0CBF3;
   --color-accent-800-dark: #3A5772;
   --color-accent-900-dark: #1B2843;

   --color-neutral-100: #F5F7FA; /* "White" */
   --color-neutral-200: #DADDE0;
   --color-neutral-300: #D2D5D9;
   --color-neutral-400: #B3B8BD;
   --color-neutral-500: #81868A;
   --color-neutral-600: #5B5F63;
   --color-neutral-700: #414447;
   --color-neutral-800: #2E3133;
   --color-neutral-900: #1C1D1F; /* "Black" */
}

/* Light Theme
   ========================================================================== */

/**
 * For my dark mode implementation, I used the solutions described here:
 * https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
 * 
 * I need to revisit this, because I'm not sure I understand whether a CSS-only
 * option is more viable. It's good enough for now, though.
 * 
 */

/* Light theme (default) */
body {
   --color-body-bg: var(--color-accent-000);
   --color-body-text: var(--color-neutral-900);
   --color-link: var(--color-accent-700);
   --color-link-hover: var(--color-accent-900);
   --color-bannernav-logotype: var(--color-neutral-900);
   --color-bannernav-link: var(--color-accent-800);
   --color-bannernav-link-hover: var(--color-neutral-900);
   --color-bannernav-link-active: var(--color-neutral-900);
   --color-bannernav-link-underline: var(--color-accent-300);
   --color-bannernav-link-underline-active: var(--color-accent-800);
   --color-button-text: var(--color-accent-000);
   --color-button-border: var(--color-accent-800);
   --color-button-bg: var(--color-accent-800);
   --color-button-hover-text: var(--color-accent-800);
   --color-button-hover-border: var(--color-accent-800);
   --color-button-hover-bg: var(--color-accent-000);
   --color-titles-text: var(--color-neutral-900);
   --color-titles-stripe: var(--color-accent-200);
   --color-titles-article-text: var(--color-accent-800);
   --color-article-metadata: var(--color-neutral-500);
   --color-article-deck: var(--color-neutral-600);
   --color-tag-text: var(--color-accent-800);
   --color-tag-bg: var(--color-accent-200);
   --color-textdecoration: var(--color-accent-200);
}

/* Light theme (duplicate of above, reset from toggle) */
@media (prefers-color-scheme: dark) {
   body.light-theme {
      --color-body-bg: var(--color-accent-000);
      --color-body-text: var(--color-neutral-900);
      --color-link: var(--color-accent-700);
      --color-link-hover: var(--color-accent-900);
      --color-bannernav-logotype: var(--color-neutral-900);
      --color-bannernav-link: var(--color-accent-800);
      --color-bannernav-link-hover: var(--color-neutral-900);
      --color-bannernav-link-active: var(--color-neutral-900);
      --color-bannernav-link-underline: var(--color-accent-300);
      --color-bannernav-link-underline-active: var(--color-accent-800);
      --color-button-text: var(--color-accent-000);
      --color-button-border: var(--color-accent-800);
      --color-button-bg: var(--color-accent-800);
      --color-button-hover-text: var(--color-accent-800);
      --color-button-hover-border: var(--color-accent-800);
      --color-button-hover-bg: var(--color-accent-000);
      --color-titles-text: var(--color-neutral-900);
      --color-titles-stripe: var(--color-accent-200);
      --color-titles-article-text: var(--color-accent-800);
      --color-article-metadata: var(--color-neutral-500);
      --color-article-deck: var(--color-neutral-600);
      --color-tag-text: var(--color-accent-800);
      --color-tag-bg: var(--color-accent-200);
      --color-textdecoration: var(--color-accent-200);
   }
}

/* Dark Theme
   ========================================================================== */

/* Dark theme (happens for dark color scheme) */
@media (prefers-color-scheme: dark) {
   body { 
      --color-body-bg: var(--color-accent-900-dark);
      --color-body-text: var(--color-neutral-100);
      --color-link: var(--color-accent-400-dark);
      --color-link-hover: var(--color-accent-400-dark);
      --color-bannernav-logotype: var(--color-accent-300);
      --color-bannernav-link: var(--color-accent-300);
      --color-bannernav-link-hover: var(--color-accent-100);
      --color-bannernav-link-active: var(--color-accent-100);
      --color-bannernav-link-underline: var(--color-accent-400-dark);
      --color-bannernav-link-underline-active: var(--color-accent-100);
      --color-button-text: var(--color-accent-900-dark);
      --color-button-border: var(--color-accent-100);
      --color-button-bg: var(--color-accent-100);
      --color-button-hover-text: var(--color-accent-400-dark);
      --color-button-hover-border: var(--color-accent-400-dark);
      --color-button-hover-bg: var(--color-accent-900-dark);
      --color-titles-text: var(--color-neutral-100);
      --color-titles-stripe: var(--color-accent-800-dark);
      --color-titles-article-text: var(--color-accent-200);
      --color-article-metadata: var(--color-neutral-300);
      --color-article-deck: var(--color-neutral-200);
      --color-tag-text: var(--color-neutral-400);
      --color-tag-bg: var(--color-accent-800-dark);
      --color-textdecoration: var(--color-accent-800);
   }
}

/* Dark theme (available for toggle during normal settings) */
body.dark-theme {
   --color-body-bg: var(--color-accent-900-dark);
   --color-body-text: var(--color-neutral-100);
   --color-link: var(--color-accent-400-dark);
   --color-link-hover: var(--color-accent-400-dark);
   --color-bannernav-logotype: var(--color-accent-300);
   --color-bannernav-link: var(--color-accent-300);
   --color-bannernav-link-hover: var(--color-accent-100);
   --color-bannernav-link-active: var(--color-accent-100);
   --color-bannernav-link-underline: var(--color-accent-400-dark);
   --color-bannernav-link-underline-active: var(--color-accent-100);
   --color-button-text: var(--color-accent-900-dark);
   --color-button-border: var(--color-accent-100);
   --color-button-bg: var(--color-accent-100);
   --color-button-hover-text: var(--color-accent-400-dark);
   --color-button-hover-border: var(--color-accent-400-dark);
   --color-button-hover-bg: var(--color-accent-900-dark);
   --color-titles-text: var(--color-neutral-100);
   --color-titles-stripe: var(--color-accent-800-dark);
   --color-titles-article-text: var(--color-accent-200);
   --color-article-metadata: var(--color-neutral-300);
   --color-article-deck: var(--color-neutral-200);
   --color-tag-text: var(--color-neutral-400);
   --color-tag-bg: var(--color-accent-800-dark);
   --color-textdecoration: var(--color-accent-800);
}

/* ==========================================================================
   CUSTOM PROPERTIES: LAYOUT, GRIDS, WIDTHS
   ========================================================================== */

/**
 * BREAKPOINTS
 * 
 * Breakpoints can't be made into CSS properties as-of-code, and I'm not using
 * a CSS preprocessor right now. So I'm just noting my breakpoints right here:
 * 
 * 1. @media screen and (min-width: 600px)
 * 
 */

:root {
   --page-maxwidth: 45rem;
   --page-maxwidth-singlecolum: 32rem;
}

/* ==========================================================================
   ==========================================================================
   
   INLINE TEXT ELEMENTS

   ==========================================================================
   ========================================================================== */

/* Headers
   ========================================================================== */

h1,
h2,
h3,
h4 {
   font-family: var(--font-family-headers);
   position: relative;
   color: var(--color-titles-text);
}

h1 { font-size: 52px; }
h2 { font-size: 52px; }

/* Paragraph
   ========================================================================== */

p + p {
   text-indent: 1rem;
   margin-top: var(--type-lineheight-paragraph-spacing);
}

/* Blockquote
   ========================================================================== */

blockquote p {
   hanging-punctuation: first;
}
   
/* Links
   ========================================================================== */

a {
   text-underline-offset: 2px;
}

a:link,
a:visited {
   text-decoration: none;
   color: var(--color-link);
}

a:hover,
a:active {
   text-decoration: underline;
   color: var(--color-link-hover);
}

/* Decorations
   ========================================================================== */

hr {
   border: solid 1px var(--color-textdecoration);
   width: 100px;
}

.text-decoration {
   color: var(--color-textdecoration);
}

.blockbg {
   display: inline-block;
   position: relative;
   z-index: 1;
}

.blockbg::after {
   content: ' ';
   z-index: -1;
   display: block;
   position: absolute;
   height: .4em;
   width: 100%;
   top: 0.75em;
   left: 0.125em;
   bottom: 1px;
   background-color: var(--color-titles-stripe);
}

/* ==========================================================================
   ==========================================================================
   
   KEY SECTIONING ELEMENTS

   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   HIGH-LEVEL BODY, LAYOUT DECISIONS
   ========================================================================== */

body {
   background-color: var(--color-body-bg);
   color: var(--color-body-text);
}

main {
   padding: 1rem;
   width: 100%;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

/* 
 * .main-article
 * This class applies to an "article" wrapper nested within <main>;
 * basically we're "re-duplicating" the properties of main above.
 *
 */

article.main-article {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

main > header,
main > footer,
main > section,
main > article {
   width: 100%;
}

main > header,
main > footer,
main > section,
.main-article > header,
.main-article > footer,
.main-article > section,
.main-article > article {
   max-width: var(--page-maxwidth);
}

article > header,
article > footer,
article > section,
article > article {
   width: 100%;
}

main > header,
.main-article > header {
   margin: 2rem 0 1rem 0;
}

/* ==========================================================================
   GLOBAL: BANNER NAVIGATION
   ========================================================================== */

/* Banner and Subsections (Logotype + List)
   ========================================================================== */

#nav-banner {
   /*position: -webkit-sticky;
   position: sticky;
   top: 0;*/
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-flow: row nowrap;
   padding: 1rem;
   font-size: 16px;
   /*background-image: linear-gradient(hsla(0, 0%, 100%,1), hsla(0,0%,100%,0));*/
   background: linear-gradient(180deg, var(--color-body-bg) 58.85%, rgba(255, 255, 255, 0) 100%);
   font-family: var(--font-family-nav);
}

#nav-banner-logotype {
   font-family: var(--font-family-logotype);
   font-weight: bold;
   font-size: 24px;
}

#nav-banner-logotype a {
   text-decoration: none !important;
   color: var(--color-bannernav-logotype);
}

#nav-banner-list {
   display: flex;
   flex-flow: row nowrap;
   gap: 1rem;
}

/* Link Behavior
   ========================================================================== */

/**
 * CSS hover animation inspired by Nate Baldwin. Working implementation drawn
 * from https://www.30secondsofcode.org/css/s/hover-underline-animation.
 * 
 */

#nav-banner-list a:link,
#nav-banner-list a:visited {
   color: var(--color-bannernav-link);
}

#nav-banner-list a:hover,
#nav-banner-list a:active {
   color: var(--color-bannernav-link-hover);
   text-decoration: none;
}

/* Accessibility Button
   ========================================================================== */

.nav-banner-accessibilitybutton {
   margin: 0;
   padding: 0;
   background-color: transparent;
   border: none;
   cursor: pointer;
   @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
   }
   display: inline-flex;
   font-family: "Merriweather", serif;
   color: var(--color-button-text);
}

.nav-banner-accessibilitybutton svg {
   fill: var(--color-bannernav-link);
}

/* Animated Links
   ========================================================================== */

/**
 * CSS hover animation inspired by Nate Baldwin. Working implementation drawn
 * from https://www.30secondsofcode.org/css/s/hover-underline-animation.
 * 
 */

 .link-animate {
   position: relative; /* Makes the pseudo-element work */
   text-decoration: none;
}

.link-animate::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: var(--color-bannernav-link-underline);
   transform-origin: center;
   transition: transform 0.25s ease-out;
}

.link-animate:hover::after {
   transform: scaleX(1);
   transform-origin: center;
}

.link-animate-selected {
   color: var(--color-bannernav-link-active) !important;
}

.link-animate-selected::after {
   transform: scaleX(1);
   background-color: var(--color-bannernav-link-underline-active);
}

/* ==========================================================================
   GLOBAL: Buttons
   ========================================================================== */

/* Primary CTA
   ========================================================================== */   

.button-primary {
   color: var(--color-button-text);
   border: solid 1px var(--color-button-border);
   background-color: var(--color-button-bg);
   padding: 16px;
   font-size: 16px;
   border-radius: 50px;
   transition: all 100ms ease-out;
}

.button-primary:hover {
   color: var(--color-button-hover-text);
   border: solid 1px var(--color-button-hover-border);
   background-color: var(--color-button-hover-bg);
   cursor: pointer;
}

/* ==========================================================================
   ==========================================================================
   
   PAGE-LEVEL COMPONENTS

   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   HOMEPAGE
   ========================================================================== */

/* Header
   ========================================================================== */

.page-home > header {
   margin-top: 5rem;
   margin-bottom: 5rem;
}

.page-home > header h1 {
   font-size: 76px;
}

.page-home > header p {
   margin: 1rem 0 1.2rem 0;
   font-size: 42px;
   line-height: 2.1rem;
}

/* Container Link
   ========================================================================== */

.casestudy-container-link {
   text-decoration: none !important;
   color: initial;
}

/* Case Study List (Mobile)
   ========================================================================== */

/* Flex list */
.casestudy-list {
   display: flex;
   flex-flow: column nowrap;
   gap: 32px;
   margin-bottom: 10rem;
}

/* Individual containers for the case study */
.casestudy-list-entry {
   display: flex;
   flex-flow: column nowrap;
   transition: all 200ms ease-out;
   gap: 1rem;
   cursor: pointer;
}

.casestudy-list-entry:hover {
   scale: 1.01;
}

/* Two, high-level containers */
.casestudy-list-entry-image {
   display: block;
   aspect-ratio: 28/9;
   background-color: var(--color-tag-bg);
   border-radius: 4px;
   flex: 0 1 auto;
}


/* Text elements within .casestudy-content */
.casestudy-list-entry h2 {
   font-size: 28px;
   color: var(--color-body-text);
}

.casestudy-list-entry p {
   color: var(--color-body-text);
}

/* Tag cloud within content */
.casestudy-list-entry ul {
   display: flex;
   flex-flow: row wrap;
   gap: 8px;
   margin: 8px 0 16px 0;
}

.casestudy-list-entry li {
   padding: 8px;
   font-size: 16px;
   font-weight: bold;
   background-color: var(--color-tag-bg);
   border-radius: 4px;
   color: var(--color-tag-text);
}

/* Case Study List (Responsive Desktop)
   ========================================================================== */

@media screen and (min-width: 600px) {
   .casestudy-list-entry {
      flex-flow: row wrap;
   }

   .casestudy-list-entry-image {
      display: block;
      aspect-ratio: 4/3;
      background-color: var(--color-tag-bg);
      border-radius: 4px;
      flex: 0 1 30%;
   }

   .casestudy-list-entry-content {
      flex: 0 1 60%;
   }
}

/* ==========================================================================
   DIGITAL GARDEN
   ========================================================================== */

/* Digital Garden List
   ========================================================================== */

.digital-garden-index {
   column-count: 2;
   line-height: 1.5;
}

.digital-garden-index ul {
}

/* ==========================================================================
   ARTICLE (LIST)
   ========================================================================== */

/* Article List Container
   ========================================================================== */

.article-list {
   display: flex;
   flex-flow: column nowrap;
   gap: 64px;
   margin-bottom: 10rem;
}

.article-list-header {
   margin-bottom: 48px;
}

/* Entries
   ========================================================================== */

.article-container-link {
   text-decoration: none !important;
   color: initial;
   transition: all 200ms ease-out;
   cursor: pointer;
}

.article-container-link:hover {
   scale: 1.01;
}

.article-list-entry {
   
}

.article-list-entry h2 {
   color: var(--color-titles-article-text);
}

.article-list-deck {
   color: var(--color-article-deck);
}

.article-list-metadata {
   color: var(--color-article-metadata);
   font-size: 16px;
   padding-bottom: .3rem;
}

/* ==========================================================================
   ARTICLE (SINGLE)
   ========================================================================== */

/* Layout
   ========================================================================== */

.main-article > footer,
.main-article > section,
.main-article > article {
   max-width: var(--page-maxwidth-singlecolum);
}

/* Header
   ========================================================================== */

.main-article > header {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   text-align: center;
   margin-bottom: 3rem;
   max-width: var(--page-maxwidth);
}

.article-title {
   color: var(--color-titles-article-text);
}

.article-metadata {
   font-size: 16px;
   color: var(--color-article-metadata);
   padding-bottom: .3rem;
}

/* Text
   ========================================================================== */

.main-article > section > p:first-child:first-letter {
   color: var(--color-titles-article-text);
   float: left;
   line-height: 1.2rem;
   font-family: var(--font-family-headers);
   font-size: 60px;
   padding-top: 1.1rem;
   padding-right: 6px;
   padding-left: 4px;
   padding-bottom: 6px;
}

/* Footnotes
   ========================================================================== */

section.footnotes hr {

}

section.footnotes sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

section.footnotes sub {
    top: 0.4em;
}

/* Footer
   ========================================================================== */

.article-footer {
   margin: 6rem 0 4rem 0;
}

.article-footer ul {
   display: flex;
   flex-flow: row;
   justify-content: center;
   font-size: 16px;
}

.article-footer li::after {
   content: '//';
   color: var(--color-textdecoration);
   margin-left: .5rem;
   margin-right: .5rem;
}

.article-footer li:last-of-type:after {
   content: '';
}

/* ==========================================================================
   ABOUT
   ========================================================================== */

