/* ==========================================================================
   UNIVERSAL: Custom Properties
   ========================================================================== */

/* Color Palettes
   ========================================================================== */

   :root {
      /* Accent color palette */
      --color-accent-000: #FAFBFC;
      --color-accent-100: #F0F6FC;
      --color-accent-200: #DEE6EE;
      --color-accent-300: #A9C1D9;
      --color-accent-400: #85A8CC;
      --color-accent-500: #3F709E;
      --color-accent-600: #3F709E;
      --color-accent-700: #296094;
      --color-accent-800: #114D84;
      --color-accent-900: #1B2843;
      /* Neutral color palette */
      --color-neutral-100: #F5F7FA; /* "White" */
      --color-neutral-200: #DADDE0;
      --color-neutral-300: #D2D5D9;
      --color-neutral-400: #B3B8BD;
      --color-neutral-500: #81868A;
      --color-neutral-600: #5B5F63;
      --color-neutral-700: #414447;
      --color-neutral-800: #2E3133;
      --color-neutral-900: #1C1D1F; /* "Black" */
   
      /* Specific implementations */
      --color-body-bg: var(--color-accent-000);
      --color-body-text: var(--color-neutral-900);
      --color-link: var(--color-accent-700);
      --color-link-hover: var(--color-accent-900);
      --color-bannernav-logotype: var(--color-neutral-900);
      --color-bannernav-link: var(--color-accent-800);
      --color-bannernav-link-hover: var(--color-neutral-900);
      --color-bannernav-link-active: var(--color-neutral-900);
      --color-bannernav-link-underline: var(--color-accent-300);
      --color-bannernav-link-underline-active: var(--color-accent-800);
      --color-button-text: var(--color-accent-000);
      --color-button-border: var(--color-accent-800);
      --color-button-bg: var(--color-accent-800);
      --color-button-hover-text: var(--color-accent-800);
      --color-button-hover-border: var(--color-accent-800);
      --color-button-hover-bg: var(--color-accent-000);
      --color-titles-text: var(--color-neutral-900);
      --color-titles-stripe: var(--color-accent-200);
      --color-titles-article-text: var(--color-accent-800);
      --color-article-metadata: var(--color-neutral-500);
      --color-article-deck: var(--color-neutral-600);
      --color-tag-text: var(--color-accent-800);
      --color-tag-bg: var(--color-accent-200);
      --color-textdecoration: var(--color-accent-200);
   }
   
   /* Type
      ========================================================================== */
   
   /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
   
   :root {
      /* Font families */
      --font-family-body: "Noto Sans", sans-serif;
      --font-family-headers: "Merriweather", serif;
      --font-family-nav: "Noto Sans", sans-serif;
      --font-family-logotype: "Merriweather", serif;
   
      /* Step -2: 12.50px → 12.38px */
      --step--2: clamp(0.77rem, calc(0.78rem + -0.01vw), 0.78rem);
   
      /* Step -1: 15.00px → 16.50px */
      --step--1: clamp(0.94rem, calc(0.90rem + 0.16vw), 1.03rem);
   
      /* Step 0: 18.00px → 22.00px */
      --step-0: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
   
      /* Step 1: 21.60px → 29.33px */
      --step-1: clamp(1.35rem, calc(1.18rem + 0.84vw), 1.83rem);
   
      /* Step 2: 25.92px → 39.09px */
      --step-2: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);
   
      /* Step 3: 31.10px → 52.11px */
      --step-3: clamp(1.94rem, calc(1.49rem + 2.28vw), 3.26rem);
   
      /* Step 4: 37.32px → 69.46px */
      --step-4: clamp(2.33rem, calc(1.63rem + 3.49vw), 4.34rem);
   
      /* Step 5: 44.79px → 92.59px */
      --step-5: clamp(2.80rem, calc(1.76rem + 5.20vw), 5.79rem);
   
      /* Step 6: 53.75px → 123.43px */
      --step-6: clamp(3.36rem, calc(1.84rem + 7.57vw), 7.71rem);
   }
      
   /* Space & Grid
      ========================================================================== */
   
   /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
   
   :root {
      /* Fluid spaces (in "T-shirt sizes") */
      --space-3xs: clamp(0.31rem, calc(0.29rem + 0.11vw), 0.38rem);
      --space-2xs: clamp(0.56rem, calc(0.52rem + 0.22vw), 0.69rem);
      --space-xs: clamp(0.88rem, calc(0.81rem + 0.33vw), 1.06rem);
      --space-s: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
      --space-m: clamp(1.69rem, calc(1.56rem + 0.65vw), 2.06rem);
      --space-l: clamp(2.25rem, calc(2.08rem + 0.87vw), 2.75rem);
      --space-xl: clamp(3.38rem, calc(3.11rem + 1.30vw), 4.13rem);
      --space-2xl: clamp(4.50rem, calc(4.15rem + 1.74vw), 5.50rem);
      --space-3xl: clamp(6.75rem, calc(6.23rem + 2.61vw), 8.25rem);
      
      /* One-up pairs */
      --space-3xs-2xs: clamp(0.31rem, calc(0.18rem + 0.65vw), 0.69rem);
      --space-2xs-xs: clamp(0.56rem, calc(0.39rem + 0.87vw), 1.06rem);
      --space-xs-s: clamp(0.88rem, calc(0.70rem + 0.87vw), 1.38rem);
      --space-s-m: clamp(1.13rem, calc(0.80rem + 1.63vw), 2.06rem);
      --space-m-l: clamp(1.69rem, calc(1.32rem + 1.85vw), 2.75rem);
      --space-l-xl: clamp(2.25rem, calc(1.60rem + 3.26vw), 4.13rem);
      --space-xl-2xl: clamp(3.38rem, calc(2.64rem + 3.70vw), 5.50rem);
      --space-2xl-3xl: clamp(4.50rem, calc(3.20rem + 6.52vw), 8.25rem);
      
      /* Custom pairs */
      --space-s-l: clamp(1.13rem, calc(0.56rem + 2.83vw), 2.75rem);
   
      /* Grid */
      /* @link https://utopia.fyi/grid/calculator?c=330,18,1.2,1364,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
      --grid-max-width: 85.25rem;
      --grid-gutter: var(--space-s-l, clamp(1.13rem, calc(0.61rem + 2.51vw), 2.75rem));
      --grid-columns: 12;
   }
   
   /* Space & Grid
      ========================================================================== */
   
   :root {
      --measure: 60ch;
      --measure-header: 80ch;
      --nav-maxwidth: 60rem;
      --page-maxwidth: 45rem;
      --page-maxwidth-singlecolum: 32rem;
   }
   
   /* ==========================================================================
      UNIVERSAL STYLING
      ========================================================================== */
   
   /* Critical font information
      ========================================================================== */
   
   :root {
      font-family: var(--font-family-body);
      font-size: var(--step-0);
      line-height: 1.5;
   }

   /* Body properties
      ========================================================================== */

   body {
      /* Display */
      margin-bottom: var(--space-3xl);
      padding: 0 var(--space-s);
      /* Color */
      background-color: var(--color-body-bg);
      color: var(--color-body-text);
      /* Other */
      text-rendering: optimizeSpeed;
   }
   
   /* Measure
      ========================================================================== */
   
      * {
         max-inline-size: var(--measure);
      }
      
      html,
      body,
      div,
      header,
      nav,
      section,
      article,
      main,
      footer {
         max-inline-size: none;
      }
   
   /* Main
      ========================================================================== */
   
   main {
      margin-top: var(--space-xl);
   }
   
   /* Block-level Elements and Vertical Rhythm
      ========================================================================== */
   
   h1,
   h2,
   h3 {
     font-family: var(--font-family-headers);
     font-weight: 800;
     line-height: 1.1;
     text-wrap: balance;
     display: inline-block;
   }
   
      h1 {
         font-size: var(--step-4);
         color: var(--color-accent-800);
      }
      
      h2 {
         font-size: var(--step-3);
         color: var(--color-accent-700);
      }
      
      h3 {
         font-size: var(--step-2);
         color: var(--color-accent-600);
      }
   
      :is(h1, h2, h3, blockquote) {
         --space: 1.5em;
      }
       
      :is(h1, h2, h3) + * {
      --space: 0.5em;
      }
   
   main ul,
   main ol {
     padding-inline-start: 1em;
     list-style-type: disc;
   }
   
   main li,
   main li {
      margin: 0 !important;
   }
   
   blockquote {
      padding-inline-start: 1em;
      border-inline-start: 0.3em solid;
      font-style: italic;
    }
   
    /* Inline Styles
      ========================================================================== */
   
    a {
      color: var(--color-accent-700);
      text-underline-offset: 0.3ex;
   }
   
   strong {
      font-weight: 700;
   }
   
   em {
      font-style: italic;
   }
   
   small, sub, sup { font-size: var(--step--2); }
   sub             { vertical-align: sub }
   sup             { vertical-align: super }
   sub a,
   sup a {
      text-decoration: none;
   }