/* ==========================================================================
   COMPONENT: Banner Navigation
   ========================================================================== */

/* Containers
   ========================================================================== */

.nav-banner {
   /* Display & Box Model */
   width: 100%;
   max-width: var(--grid-max-width);
   margin-top: var(--space-3xs);
   /* Interior Display */
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   gap: var(--grid-gutter);
   /* Other */
   font-family: var(--font-family-nav);
   font-size: var(--step--2);
}

.nav-banner-logotype {
   font-family: var(--font-family-logotype);
   font-size: var(--step-0);
   font-weight: bold;
}

.nav-banner-logotype a {
   color: var(--color-bannernav-logotype);
   text-decoration: none !important;
}

/* Link Behavior
   ========================================================================== */

/**
 * CSS hover animation inspired by Nate Baldwin. Working implementation drawn
 * from https://www.30secondsofcode.org/css/s/hover-underline-animation.
 * 
 */

.nav-banner-list a:link,
.nav-banner-list a:visited {
   color: var(--color-bannernav-link);
}

.nav-banner-list a:hover,
.nav-banner-list a:active {
   color: var(--color-bannernav-link-hover);
   text-decoration: none;
}

/* Animated Links
   ========================================================================== */

/**
 * CSS hover animation inspired by Nate Baldwin. Working implementation drawn
 * from https://www.30secondsofcode.org/css/s/hover-underline-animation.
 * 
 */

.link-animate {
   position: relative; /* Makes the pseudo-element work */
   text-decoration: none;
}

.link-animate::after {
   /* Content */
   content: '';
   /* Positioning & Box Model*/
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -8px;
   left: 0;
   /* Other */
   background-color: var(--color-bannernav-link-underline);
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.25s ease-out;
}

.link-animate:hover::after {
   transform: scaleX(1);
   transform-origin: left;
}

.link-animate-selected {
   color: var(--color-bannernav-link-active) !important;
}

.link-animate-selected::after {
   background-color: var(--color-bannernav-link-underline-active);
   transform: scaleX(1);
}

/* Accessibility Button
   ========================================================================== */

.nav-banner-accessibilitybutton {
   /* Display */
   display: inline-flex;
   /* Other */
   background-color: transparent;
   color: var(--color-button-text);
   font-family: var(--font-family-nav);
   cursor: pointer;
   /* Positioning & Box Model */
   margin: 0;
   padding: 0;
   border: none;
   @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
   }
}

.nav-banner-accessibilitybutton svg {
   fill: var(--color-bannernav-link);
}


/* ==========================================================================
   COMPONENT: Buttons
   ========================================================================== */

/* ==========================================================================
   LAYOUT: Now
   ========================================================================== */

/* Timeline Element for the "Now" Page
   ========================================================================== */

@media screen and (min-width: 600px) {

   .section-timeline-element {
      border-left: 1px dashed var(--color-neutral-300);
      padding-left: var(--space-s);
   }

   .section-timeline-element::before {
      content: "";
      width: var(--space-2xs);
      height: var(--space-2xs);
      border: 2px solid var(--color-neutral-300);
      background-color: var(--color-body-bg);
      display: block;
      margin-left: calc(-1 * var(--space-s) - (var(--space-2xs)/2));
      position: relative;
      top: 0rem;
      border-radius: 50%;
   }
}

/* ==========================================================================
   LAYOUT: Index
   ========================================================================== */

   /* I can use this class on any page, whether flex or grid, mainly on elements directly nested under "body" (i.e. nav, main, etc) */
   .page-home {
      /* Width & Display */
      max-width: var(--grid-max-width);
      margin-inline: auto;
      /* Internal Grid */
      display: grid;
      gap: var(--grid-gutter);
      grid-template-columns: repeat(var(--grid-columns),1fr);
   }

   /* Mobile */
   .page-home__hero { grid-column: 1 / 13; }
   .page-home__work { grid-column: 1 / 13; }
   .page-home__notes { grid-column: 1 / 13; }

   /* Desktop */
   @media screen and (min-width: 700px) {
      .page-home__hero { grid-column: 2 / 12; }
      .page-home__work  { grid-column: 2 / 12; }
      .page-home__notes { grid-column: 2 / 12; }
   }

   /* Home page hero
      ========================================================================== */

   .page-home__hero {
      width: 100%;
      margin-bottom: var(--space-xl);
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      gap: var(--space-3xs);
   }
   
      .page-home__hero h1 {
         font-size: var(--step-5);
         font-family: var(--font-family-headers);
      }
   
      .page-home__hero ul {
         line-height: var(--space-m);
         display: flex;
         flex-flow: row wrap;
         gap: var(--space-3xs);
         font-size: var(--step-2);
         padding-inline-start: 0;
      }
   
      .page-home__hero li {
         display: inline-flex;
      }
   
      .page-home__hero li::after {
         content: '//';
         margin-left: var(--space-3xs);
         color: var(--color-textdecoration);
      }
   
      .page-home__hero li:last-of-type::after {
         content: '';
      }

   /* Page section headers
      ========================================================================== */

   .page-home__section > header {
      --space: var(--space-3xs);
      margin-bottom: var(--space-xs);
   }

      .page-home__section > header h2 {
         font-size: var(--step-0);
         font-weight: bold;
         font-family: var(--font-family-body);
      }

   /* Galleries
      ========================================================================== */

   .linkcard {
      --space: var(--space-1xs);
      display: inline-block;
      text-decoration: none;
      transition: transform .3s ease-in;
      cursor: pointer;
   }

   .linkcard__header {
      font-size: var(--step--1);
   }

   .linkcard__description {
      font-size: var(--step--2);
   }

   .linkcard:hover {
      transform: scale(1.01);
   }

   .linkcard__thumbnail {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-size: cover;
      margin-bottom: var(--space-3xs);
   }

   /* Header
      ========================================================================== */


/* ==========================================================================
   LAYOUT: Single ("Prose")
   ========================================================================== */

/**
 * The semantic HTML that begins a page could look like a lot of things:
 * - <main><article>
 * - <main>
 * So, to keep things simple, and to give myself the flexibility to apply the
 * "flow" to any page, I am going to use the .flow class to target things.
 * 
 */


   
   /* Header
      ========================================================================== */
   
   .page-prose > header {
      margin-top: var(--space-xl);
   }
   
   @media screen and (min-width: 800px) {
      .page-prose > header {
         margin-top: var(--space-xl);
         grid-column: 2/11;
      }
   }
   
      .garden-meta-wrapper {
         display: flex;
         flex-flow: row wrap;
         align-items: center;
         gap: var(--space-3xs);
         gap: var(--space-s);
         margin-bottom: var(--space-s);
         font-size: var(--step--1);
         color: var(--color-neutral-700);
         text-transform: capitalize;
      }
   
      .garden-meta-category-wrapper {
         display: flex;
         flex-flow: row wrap;
         align-items: center;
         gap: var(--space-3xs);
      }
   
      .page-prose > header h1 {
         font-family: var(--font-family-headers);
         font-size: var(--step-3);
         font-weight: bold;
         color: var(--color-accent-800);
      }
   
      .garden-deck {
         display: inline-block;
         font-size: var(--step-1);
         color: var(--color-accent-700);
         margin-top: var(--space-2xs);
      }
   
   
   /* Text Shape
      ========================================================================== */
   
   .page-prose > section,
   .page-prose > article {
      margin-bottom: var(--space-s);
   }
   
   @media screen and (min-width: 600px) {
      .page-prose > section,
      .page-prose > article {
         grid-column: 2/9;
      }
   }
   
   @media screen and (min-width: 900px) {
      .page-prose > section,
      .page-prose > article {
         grid-column: 2/9;
      }
   }

/* Note Single
   ========================================================================== */

.note__header {
   max-inline-size: var(--measure-header);
}

.note__breadcrumb {
   text-transform: capitalize;
}

   .note__breadcrumb a {
      text-decoration: none;
      font-weight: 700;
      transition: all 0.5s;
      display: inline-block;
      position: relative;
   }

   .note__breadcrumb a:before {
      content: '«';
      position: absolute;
      opacity: 0;
      top: -1px;
      left: 4px;
      transition: 0.5s;
    }

    .note__breadcrumb a:hover{
      padding-left: 1rem;
    }
    
    .note__breadcrumb a:hover:before {
      opacity: 1;
    }

.note__title {
   margin: 0;
   margin-bottom: var(--space-3xs);
   padding: 0;
}

.note__deck {
   font-size: var(--step-1);
   color: var(--color-accent-700);
   margin: 0;
   padding: 0;
   text-wrap: balance;
}

.note__origin {
   font-size: var(--step--1);
}

   .note__origin strong {
      color: var(--color-accent-700);
   }

.callout__assumedAudience {
   font-size: var(--step--2);
   color: var(--color-neutral-900);
   background-color: var(--color-accent-200);
   padding: var(--space-2xs);
}

   .callout__assumedAudience strong {
      color: var(--color-accent-700);
   }  

   .callout__assumedAudience strong::after {
      content: ': ';
   }

.footnotes {
   font-size: var(--step--2);
   /* 
   color: var(--color-neutral-900);
   background-color: var(--color-accent-200);
   padding: var(--space-xs);
   */
}

.footnotes hr {
   border: 0;
   width: 100%;
   margin-bottom: var(--space-3xs);
}

   .footnotes hr::before {
      content: 'Footnotes';
      font-size: var(--step--1);
      font-weight: bold;
      color: var(--color-accent-800);
   }

.footnotes ol {
   list-style-type: decimal;
   margin-top: 0;
}

   .footnotes li::marker {
      color: var(--color-accent-700);
   }

   .footnote-backref {
      text-decoration: none;
   }