*,*::before,*::after {
    box-sizing: border-box;
}

/* ==========================================================================
   CUSTOM PROPERTIES
   ========================================================================== */

/* Typography
   ========================================================================== */

@font-face {
   font-family: "Carter One";
   src: url("/fonts/CarterOne-Regular.ttf");
}

body {
   font-family: "Carter One", serif; 
}

/* Color
   ========================================================================== */

:root {
    
}

/* ==========================================================================
   GRID & LAYOUT
   ========================================================================== */

/* Grid
   ========================================================================== */

/* Mobile/Narrow */
body {

}

/* Desktop/Wide */
@media screen and (min-width: 600px) {
    
}

/* Header
   ========================================================================== */


/* Navigation
   ========================================================================== */


/* Main Content
   ========================================================================== */


/* ==========================================================================
   <MAIN>'s Children
   ========================================================================== */

/* Head
   ========================================================================== */

/* Headers
   ========================================================================== */


/* Inline Text
   ========================================================================== */


/* Audience Callout Box
   ========================================================================== */


/* Footnotes
   ========================================================================== */

section.footnotes hr {

}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

/* Footer with Taxonomy Cloud
   ========================================================================== */


/* Article List (usually applied to a <section>)
   ========================================================================== */

.article-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
