/* ==========================================================================
   CUSTOM PROPERTIES
   ========================================================================== */

/* Color Palettes
   ========================================================================== */

:root {
   /* Accent color palette */
   --color-accent-000: #FAFBFC;
   --color-accent-100: #F0F6FC;
   --color-accent-200: #DEE6EE;
   --color-accent-300: #A9C1D9;
   --color-accent-400: #85A8CC;
   --color-accent-500: #3F709E;
   --color-accent-600: #3F709E;
   --color-accent-700: #296094;
   --color-accent-800: #114D84;
   --color-accent-900: #1B2843;
   /* Accent color palette (dark mode variations) */
   --color-accent-400-dark: #A0CBF3;
   --color-accent-800-dark: #3A5772;
   --color-accent-900-dark: #1B2843;
   /* Neutral color palette */
   --color-neutral-100: #F5F7FA; /* "White" */
   --color-neutral-200: #DADDE0;
   --color-neutral-300: #D2D5D9;
   --color-neutral-400: #B3B8BD;
   --color-neutral-500: #81868A;
   --color-neutral-600: #5B5F63;
   --color-neutral-700: #414447;
   --color-neutral-800: #2E3133;
   --color-neutral-900: #1C1D1F; /* "Black" */
}

/* ==========================================================================
   Dark / Light Mode implementation
   ========================================================================== */

/**
 * For my dark mode implementation, I used the solutions described here:
 * https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
 * 
 * I need to revisit this, because I'm not sure I understand whether a CSS-only
 * option is more viable. It's good enough for now, though.
 * 
 */

/* Light theme (default) */
body {
   --color-body-bg: var(--color-accent-000);
   --color-body-text: var(--color-neutral-900);
   --color-link: var(--color-accent-700);
   --color-link-hover: var(--color-accent-900);
   --color-bannernav-logotype: var(--color-neutral-900);
   --color-bannernav-link: var(--color-accent-800);
   --color-bannernav-link-hover: var(--color-neutral-900);
   --color-bannernav-link-active: var(--color-neutral-900);
   --color-bannernav-link-underline: var(--color-accent-300);
   --color-bannernav-link-underline-active: var(--color-accent-800);
   --color-button-text: var(--color-accent-000);
   --color-button-border: var(--color-accent-800);
   --color-button-bg: var(--color-accent-800);
   --color-button-hover-text: var(--color-accent-800);
   --color-button-hover-border: var(--color-accent-800);
   --color-button-hover-bg: var(--color-accent-000);
   --color-titles-text: var(--color-neutral-900);
   --color-titles-stripe: var(--color-accent-200);
   --color-titles-article-text: var(--color-accent-800);
   --color-article-metadata: var(--color-neutral-500);
   --color-article-deck: var(--color-neutral-600);
   --color-tag-text: var(--color-accent-800);
   --color-tag-bg: var(--color-accent-200);
   --color-textdecoration: var(--color-accent-200);
}

/* Light theme (duplicate of above, reset from toggle) */
@media (prefers-color-scheme: dark) {
   body.light-theme {
      --color-body-bg: var(--color-accent-000);
      --color-body-text: var(--color-neutral-900);
      --color-link: var(--color-accent-700);
      --color-link-hover: var(--color-accent-900);
      --color-bannernav-logotype: var(--color-neutral-900);
      --color-bannernav-link: var(--color-accent-800);
      --color-bannernav-link-hover: var(--color-neutral-900);
      --color-bannernav-link-active: var(--color-neutral-900);
      --color-bannernav-link-underline: var(--color-accent-300);
      --color-bannernav-link-underline-active: var(--color-accent-800);
      --color-button-text: var(--color-accent-000);
      --color-button-border: var(--color-accent-800);
      --color-button-bg: var(--color-accent-800);
      --color-button-hover-text: var(--color-accent-800);
      --color-button-hover-border: var(--color-accent-800);
      --color-button-hover-bg: var(--color-accent-000);
      --color-titles-text: var(--color-neutral-900);
      --color-titles-stripe: var(--color-accent-200);
      --color-titles-article-text: var(--color-accent-800);
      --color-article-metadata: var(--color-neutral-500);
      --color-article-deck: var(--color-neutral-600);
      --color-tag-text: var(--color-accent-800);
      --color-tag-bg: var(--color-accent-200);
      --color-textdecoration: var(--color-accent-200);
   }
}

/* Dark Theme
   ========================================================================== */

/* Dark theme (happens for dark color scheme) */
@media (prefers-color-scheme: dark) {
   body { 
      --color-body-bg: var(--color-accent-900-dark);
      --color-body-text: var(--color-neutral-100);
      --color-link: var(--color-accent-400-dark);
      --color-link-hover: var(--color-accent-400-dark);
      --color-bannernav-logotype: var(--color-accent-300);
      --color-bannernav-link: var(--color-accent-300);
      --color-bannernav-link-hover: var(--color-accent-100);
      --color-bannernav-link-active: var(--color-accent-100);
      --color-bannernav-link-underline: var(--color-accent-400-dark);
      --color-bannernav-link-underline-active: var(--color-accent-100);
      --color-button-text: var(--color-accent-900-dark);
      --color-button-border: var(--color-accent-100);
      --color-button-bg: var(--color-accent-100);
      --color-button-hover-text: var(--color-accent-400-dark);
      --color-button-hover-border: var(--color-accent-400-dark);
      --color-button-hover-bg: var(--color-accent-900-dark);
      --color-titles-text: var(--color-neutral-100);
      --color-titles-stripe: var(--color-accent-800-dark);
      --color-titles-article-text: var(--color-accent-200);
      --color-article-metadata: var(--color-neutral-300);
      --color-article-deck: var(--color-neutral-200);
      --color-tag-text: var(--color-neutral-400);
      --color-tag-bg: var(--color-accent-800-dark);
      --color-textdecoration: var(--color-accent-800);
   }
}

/* Dark theme (available for toggle during normal settings) */
body.dark-theme {
   --color-body-bg: var(--color-accent-900-dark);
   --color-body-text: var(--color-neutral-100);
   --color-link: var(--color-accent-400-dark);
   --color-link-hover: var(--color-accent-400-dark);
   --color-bannernav-logotype: var(--color-accent-300);
   --color-bannernav-link: var(--color-accent-300);
   --color-bannernav-link-hover: var(--color-accent-100);
   --color-bannernav-link-active: var(--color-accent-100);
   --color-bannernav-link-underline: var(--color-accent-400-dark);
   --color-bannernav-link-underline-active: var(--color-accent-100);
   --color-button-text: var(--color-accent-900-dark);
   --color-button-border: var(--color-accent-100);
   --color-button-bg: var(--color-accent-100);
   --color-button-hover-text: var(--color-accent-400-dark);
   --color-button-hover-border: var(--color-accent-400-dark);
   --color-button-hover-bg: var(--color-accent-900-dark);
   --color-titles-text: var(--color-neutral-100);
   --color-titles-stripe: var(--color-accent-800-dark);
   --color-titles-article-text: var(--color-accent-200);
   --color-article-metadata: var(--color-neutral-300);
   --color-article-deck: var(--color-neutral-200);
   --color-tag-text: var(--color-neutral-400);
   --color-tag-bg: var(--color-accent-800-dark);
   --color-textdecoration: var(--color-accent-800);
}


/* Type
   ========================================================================== */

   /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

   :root {
      /* Font Families */
      --font-family-body: "Noto Sans", sans-serif;
      --font-family-headers: "Merriweather", serif;
      --font-family-nav: "Noto Sans", sans-serif;
      --font-family-logotype: "Merriweather", serif;

      /* Step -2: 12.50px → 12.38px */
      --step--2: clamp(0.77rem, calc(0.78rem + -0.01vw), 0.78rem);

      /* Step -1: 15.00px → 16.50px */
      --step--1: clamp(0.94rem, calc(0.90rem + 0.16vw), 1.03rem);

      /* Step 0: 18.00px → 22.00px */
      --step-0: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);

      /* Step 1: 21.60px → 29.33px */
      --step-1: clamp(1.35rem, calc(1.18rem + 0.84vw), 1.83rem);

      /* Step 2: 25.92px → 39.09px */
      --step-2: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);

      /* Step 3: 31.10px → 52.11px */
      --step-3: clamp(1.94rem, calc(1.49rem + 2.28vw), 3.26rem);

      /* Step 4: 37.32px → 69.46px */
      --step-4: clamp(2.33rem, calc(1.63rem + 3.49vw), 4.34rem);

      /* Step 5: 44.79px → 92.59px */
      --step-5: clamp(2.80rem, calc(1.76rem + 5.20vw), 5.79rem);

      /* Step 6: 53.75px → 123.43px */
      --step-6: clamp(3.36rem, calc(1.84rem + 7.57vw), 7.71rem);
   }
   
/* Space
   ========================================================================== */

   :root {
      /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

      /* Fluid spaces (in "T-shirt sizes") */
      --space-3xs: clamp(0.31rem, calc(0.29rem + 0.11vw), 0.38rem);
      --space-2xs: clamp(0.56rem, calc(0.52rem + 0.22vw), 0.69rem);
      --space-xs: clamp(0.88rem, calc(0.81rem + 0.33vw), 1.06rem);
      --space-s: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
      --space-m: clamp(1.69rem, calc(1.56rem + 0.65vw), 2.06rem);
      --space-l: clamp(2.25rem, calc(2.08rem + 0.87vw), 2.75rem);
      --space-xl: clamp(3.38rem, calc(3.11rem + 1.30vw), 4.13rem);
      --space-2xl: clamp(4.50rem, calc(4.15rem + 1.74vw), 5.50rem);
      --space-3xl: clamp(6.75rem, calc(6.23rem + 2.61vw), 8.25rem);
      
      /* One-up pairs */
      --space-3xs-2xs: clamp(0.31rem, calc(0.18rem + 0.65vw), 0.69rem);
      --space-2xs-xs: clamp(0.56rem, calc(0.39rem + 0.87vw), 1.06rem);
      --space-xs-s: clamp(0.88rem, calc(0.70rem + 0.87vw), 1.38rem);
      --space-s-m: clamp(1.13rem, calc(0.80rem + 1.63vw), 2.06rem);
      --space-m-l: clamp(1.69rem, calc(1.32rem + 1.85vw), 2.75rem);
      --space-l-xl: clamp(2.25rem, calc(1.60rem + 3.26vw), 4.13rem);
      --space-xl-2xl: clamp(3.38rem, calc(2.64rem + 3.70vw), 5.50rem);
      --space-2xl-3xl: clamp(4.50rem, calc(3.20rem + 6.52vw), 8.25rem);
      
      /* Custom pairs */
      --space-s-l: clamp(1.13rem, calc(0.56rem + 2.83vw), 2.75rem);

      /* Grid */
      /* @link https://utopia.fyi/grid/calculator?c=330,18,1.2,1364,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
      --grid-max-width: 85.25rem;
      --grid-gutter: var(--space-s-l, clamp(1.13rem, calc(0.61rem + 2.51vw), 2.75rem));
      --grid-columns: 12;

      /* My original widths and calculations... */
      --nav-maxwidth: 60rem;
      --page-maxwidth: 45rem;
      --page-maxwidth-singlecolum: 32rem;
   }

/* ==========================================================================
   LAYOUTS
   ========================================================================== */

   body {
      text-rendering: optimizeSpeed;
      background-color: var(--color-body-bg);
      color: var(--color-body-text);
   }

/* ==========================================================================
   TEXT ELEMENTS
   ========================================================================== */

:root {
   font-family: var(--font-family-body);
   font-size: var(--step-0);
}

a {
   color: var(--color-accent-700);
   text-underline-offset: 2px;
}

strong {
   font-weight: 700;
}

em {
   font-style: italic;
}

h2 {
   margin-bottom: var(--space-3xs);
   font-family: var(--font-family-headers);
   font-size: var(--step-0);
   font-weight: 700;
}

p,
blockquote,
figure {
   margin-bottom: var(--space-s);
}

p:last-of-type {
   margin-bottom: 0;
}

blockquote {
   border-left: solid var(--space-3xs) var(--color-accent-200);
   padding-left: var(--space-3xs);
}

/* ==========================================================================
   COMPONENT: Banner Navigation
   ========================================================================== */

/* Containers
   ========================================================================== */

#nav-banner {
   /* Display & Box Model */
   width: 100%;
   max-width: var(--grid-max-width);
   padding-inline: var(--grid-gutter);
   padding-top: 8px;
   margin-inline: auto;
   /* Interior Display */
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   gap: var(--grid-gutter);
   /* Other */
   font-family: var(--font-family-nav);
   font-size: var(--step--2);
}

#nav-banner-logotype {
   font-family: var(--font-family-logotype);
   font-size: var(--step-0);
   font-weight: bold;
}

#nav-banner-logotype a {
   color: var(--color-bannernav-logotype);
   text-decoration: none !important;
}

#nav-banner-list {
   display: flex;
   flex-flow: row nowrap;
   gap: var(--space-s);
}

/* Link Behavior
   ========================================================================== */

/**
 * CSS hover animation inspired by Nate Baldwin. Working implementation drawn
 * from https://www.30secondsofcode.org/css/s/hover-underline-animation.
 * 
 */

#nav-banner-list a:link,
#nav-banner-list a:visited {
   color: var(--color-bannernav-link);
}

#nav-banner-list a:hover,
#nav-banner-list a:active {
   color: var(--color-bannernav-link-hover);
   text-decoration: none;
}

/* Animated Links
   ========================================================================== */

/**
 * CSS hover animation inspired by Nate Baldwin. Working implementation drawn
 * from https://www.30secondsofcode.org/css/s/hover-underline-animation.
 * 
 */

.link-animate {
   position: relative; /* Makes the pseudo-element work */
   text-decoration: none;
}

.link-animate::after {
   /* Content */
   content: '';
   /* Positioning & Box Model*/
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -8px;
   left: 0;
   /* Other */
   background-color: var(--color-bannernav-link-underline);
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.25s ease-out;
}

.link-animate:hover::after {
   transform: scaleX(1);
   transform-origin: left;
}

.link-animate-selected {
   color: var(--color-bannernav-link-active) !important;
}

.link-animate-selected::after {
   background-color: var(--color-bannernav-link-underline-active);
   transform: scaleX(1);
}

/* Accessibility Button
   ========================================================================== */

.nav-banner-accessibilitybutton {
   /* Display */
   display: inline-flex;
   /* Other */
   background-color: transparent;
   color: var(--color-button-text);
   font-family: var(--font-family-nav);
   cursor: pointer;
   /* Positioning & Box Model */
   margin: 0;
   padding: 0;
   border: none;
   @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
   }
}

.nav-banner-accessibilitybutton svg {
   fill: var(--color-bannernav-link);
}


/* ==========================================================================
   COMPONENT: Buttons
   ========================================================================== */

/* General Attributes
   ========================================================================== */

a.markdown-btn {
   /* For some reason, fit-content isn't working... */
   width: fit-content;
   display: inline-block;
   width: auto;
   padding: var(--space-2xs);
   font-size: var(--step--1);
   border-radius: var(--space-l);
   text-decoration: none;
   transition: all 100ms ease-out;
}

a.markdown-btn:hover {
   cursor: pointer;
}

/* Primary CTA
   ========================================================================== */

a.markdown-btn-primary {
   color: var(--color-button-text);
   border: solid 1px var(--color-button-border);
   background-color: var(--color-button-bg);
}

a.markdown-btn-primary:hover {
   color: var(--color-button-hover-text);
   border: solid 1px var(--color-button-hover-border);
   background-color: var(--color-button-hover-bg);
}

/* ==========================================================================
   LAYOUT: Single ("Prose")
   ========================================================================== */

/* Container
   ========================================================================== */

.page-prose {
   display: flex;
   flex-flow: column nowrap;
   gap: var(--grid-gutter);
}

@media screen and (min-width: 800px) {
   .page-prose {
      display: grid;
      gap: var(--grid-gutter);
      grid-template-columns: repeat(var(--grid-columns), 1fr);
   }
}

/* Header
   ========================================================================== */

.page-prose > header {
   margin-top: var(--space-xl);
}

@media screen and (min-width: 800px) {
   .page-prose > header {
      margin-top: var(--space-xl);
      grid-column: 2/11;
   }
}

   .garden-meta-wrapper {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: var(--space-3xs);
      gap: var(--space-s);
      margin-bottom: var(--space-s);
      font-size: var(--step--1);
      color: var(--color-neutral-700);
      text-transform: capitalize;
   }

   .garden-meta-category-wrapper {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: var(--space-3xs);
   }

   .page-prose > header h1 {
      font-family: var(--font-family-headers);
      font-size: var(--step-3);
      font-weight: bold;
      color: var(--color-accent-800);
   }

   .garden-deck {
      display: inline-block;
      font-size: var(--step-1);
      color: var(--color-accent-700);
      margin-top: var(--space-2xs);
   }


/* Text Shape
   ========================================================================== */

.page-prose > section,
.page-prose > article {
   margin-bottom: var(--space-s);
}

@media screen and (min-width: 600px) {
   .page-prose > section,
   .page-prose > article {
      grid-column: 2/9;
   }
}

@media screen and (min-width: 900px) {
   .page-prose > section,
   .page-prose > article {
      grid-column: 2/9;
   }
}

/* Timeline Element for the "Now" Page
   ========================================================================== */

@media screen and (min-width: 600px) {

   .section-timeline-element {
      border-left: 1px dashed var(--color-neutral-300);
      padding-left: var(--space-s);
   }

   .section-timeline-element::before {
      content: "";
      width: var(--space-2xs);
      height: var(--space-2xs);
      border: 2px solid var(--color-neutral-300);
      background-color: var(--color-body-bg);
      display: block;
      margin-left: calc(-1 * var(--space-s) - (var(--space-2xs)/2));
      position: relative;
      top: 0rem;
      border-radius: 50%;
   }
}


/* ==========================================================================
   LAYOUT: Index
   ========================================================================== */

   /* I can use this class on any page, whether flex or grid, mainly on elements directly nested under "body" (i.e. nav, main, etc) */
   .grid-standard {
      /* Width & Display */
      max-width: var(--grid-max-width);
      padding-inline: var(--grid-gutter);
      margin-inline: auto;
      /* Internal Grid */
      display: grid;
      gap: var(--grid-gutter);
      grid-template-columns: repeat(var(--grid-columns),1fr);
   }

   /* Mobile */
   .page-home > header { grid-column: 1 / 13; }
   .page-home-section-work { grid-column: 1 / 13; }

   /* Desktop */
   @media screen and (min-width: 700px) {
      .page-home > header { grid-column: 2 / 12; }
      .page-home-section-work { grid-column: 2 / 12; }
   }

   /* Work Gallery
      ========================================================================== */

   .page-home-section-work {
      /* Margin & Padding */
      margin-bottom: var(--space-3xl);
      /* Grid */
      display: grid;
      column-gap: var(--grid-gutter);
      row-gap: var(--space-s);
      grid-template-columns: 10;
   }

   .page-home-section-work > header {
      grid-column: 1 / 11;
      grid-row: 1/2;
   }

      .page-home-section-work > header h2 {
         font-size: var(--step-0);
         font-weight: bold;
         font-family: var(--font-family-body);
      }

   .workgallery-item {
      display: block;
      text-decoration: none;
      transition: all .2s ease-out;
   }

      .workgallery-item:hover {
         transform: scale(1.01);
      }

   .workgallery-item > article {
   }

      .workgallery-item div {
         aspect-ratio: 16 / 9;
         width: 100%;
         border-radius: 4px;
         background-size: cover;
         background-repeat: no-repeat;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         margin-bottom: var(--space-2xs);
      }

      .workgallery-item p {
         font-size: var(--step--1);
      }

      /*
      .workgallery-item h2::after {
         content: '';
         position: absolute;
         top: -30;
         left: -30;
         transition: all 1s;
         filter: invert(14%) sepia(72%) saturate(2511%) hue-rotate(194deg) brightness(91%) contrast(98%);
      }

      .workgallery-item h2:hover::after {
         content: url('/svg/arrow-right-bold.svg');
         filter: invert(14%) sepia(72%) saturate(2511%) hue-rotate(194deg) brightness(91%) contrast(98%);
      }
      */

   .workgallery-vah {
      /* Display */
      grid-column: 1/11;
      grid-row: 2/3;
   }

      .workgallery-vah div {
         background-image: url('/img/casestudy-thumb-vah.png');
      }

   .workgallery-wynn {
      /* Display */
      grid-column: 1/11;
      grid-row: 3/4;
   }

      .workgallery-wynn div {
         background-image: url('/img/casestudy-thumb-wynn.png');
      }

   .workgallery-nike {
      /* Display */
      grid-column: 1/11;
      grid-row: 4/5;
   }

      .workgallery-nike div {
         background-image: url('/img/casestudy-thumb-nike.png');
      }

   .workgallery-headspace {
      /* Display */
      grid-column: 1/11;
      grid-row: 5/6;
   }

   @media screen and (min-width: 700px) {
      .workgallery-vah {
         /* Display */
         grid-column: 1/6;
         grid-row: 2/3;
      }
      .workgallery-wynn {
         /* Display */
         grid-column: 6/11;
         grid-row: 2/3;
      }
      .workgallery-nike {
         /* Display */
         grid-column: 1/6;
         grid-row: 3/4;
      }
      .workgallery-headspace {
         grid-column: 6/11;
         grid-row: 3/4;
      }
   }

      .workgallery-headspace div {
         background-image: url('/img/casestudy-thumb-headspace.png');
      }


   /* Header
      ========================================================================== */
   
   .page-home > header {
      width: 100%;
      margin-top: var(--space-2xl);
      margin-bottom: var(--space-xl);
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      gap: var(--space-2xs);
   }
   
      .page-home > header h1 {
         font-size: var(--step-5);
         font-family: var(--font-family-headers);
      }
   
      .page-home > header ul {
         display: flex;
         flex-flow: row wrap;
         gap: var(--space-3xs);
         font-size: var(--step-2);
      }
   
      .page-home > header li {
         display: inline-flex;
      }
   
      .page-home > header li::after {
         content: '//';
         margin-left: var(--space-3xs);
         color: var(--color-textdecoration);
      }
   
      .page-home > header li:last-of-type::after {
         content: '';
      }
   
      .page-home > header a.markdown-btn {
         margin-top: var(--space-3xs);
      }
   
   