{{ $count := 9 }}
{{ with .Get "count" }}
    {{ $count = . }}
{{ end }}

<section class="homepage__visualuidesigns">
    <div class="grid-small">
        {{ range first $count (where .Site.RegularPages.ByDate.Reverse "Section" "uidesigns") }}
        <a href="{{ .Permalink }}" class="homepage__skillscard">
            <article class="stack-smallest">
                <div class="homepage__skillscard_frame"{{ with .Params.thumbnail }} style="background-image: url('https://portfolio-v2.s3.us-west-004.backblazeb2.com/uidesigns/{{ . }}')"{{ end }}>&nbsp;</div>
                <h2>{{ .Title }}</h2>
                <!--<div class="cluster homepage__skillscard_tags">
                    {{ range .Params.tags }}
                    <span class="homepage__skillscard_tag">{{ . }}</span>
                    {{ end }}
                </div>-->
            </article>
        </a>
        {{ end }}
    </div>
</section>