<!-- Above-the-Scroll Preview -->
    
<!-- <div class="wider" style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; max-width: 100%;">
    <figure>
        <img src="{{ .Params.assetPath }}humantouch_preview_1.png">
    </figure>
</div> -->

<div class="wider" style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; max-width: 100%;">
    <figure>
        <img src="{{ .Params.assetPath }}humantouch_preview_2.webp">
    </figure>
</div>

    <!--
    <div class="" style="display: flex; flex-flow: row nowrap; align-items: space-between; justify-content: space-between; width: 100%; max-width: 70%;">
        <figure style="max-width: 400px;">
            <img src="{{ .Params.assetPath }}humantouch_preview_2.png">
        </figure>

        <figure style="max-width: 300px;">
            <video controls src="{{ .Params.assetPath }}humantouch_prototype_onboarding.mp4"></video>
        </figure>

    </div>
    -->