{{- define "main" -}}

<main>
<article class="stack">
    
    {{ partial "headers/simple.html" . }}

    <section class="center-intrinsic prose">

        {{ .Content }}

        <ul>
            {{ range .Pages }}
            <li>
                {{ if isset .Params "title" }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a><br>
                    {{ .Date.Format "Jan 2, 2006" }}<br>
                {{ else }}
                    <a href="{{ .Permalink }}">{{ .Date.Format "Jan 2, 2006" }}</a><br>
                {{ end }}
            </li>
            {{ end }}
        </ul>

    </section>

</article>
</main>

{{- end -}}