{{- define "main" -}}

<main>
<article class="center-layout">

    <header class="header__tall">
        <h1>{{ .Title }}</h1>
    </header>

    {{ .Content }}

    <!-- range where .Site.RegularPages "Section" "about" -->
    {{ $aboutSections := site.GetPage "/about/sections" }}
    {{ with $aboutSections }}
        {{ range .Pages.ByWeight }}
            {{ with .Title }}<h2>{{ . }}</h2>{{ end }}
            {{ .Content }}
        {{ end }}
    {{ end }}

    <h2>My Interests</h2>
    <div class="collection-interests">
        
        {{ $aboutInterests := site.GetPage "/about/interests" }}
        {{ with $aboutInterests }}
            {{ range .Pages.ByWeight }}
            <article>
                <h2>{{ .Title }}</h2>
                <p>{{ .Content }}</p>
            </article>
            {{ end }}
        {{ end }}
    </div>

</article>
</main>

{{- end -}}