{{- define "main" -}}

<main class="page-home">

    <header>
        <h1><!-- &#128075; -->Bryan Sebesta</h1>
        <!-- <h1><strong>Bryan</strong> is a multidisciplinary experience designer -->
        <ul>
            <li>Experience designer</li>
            <li>Systems thinker</li>
            <li>Craftsman of words, pixels, and code</li>
        </ul>
        <!-- {{ partial "buttons/primary.html" (dict "link" "/docs/resume_bryansebesta.pdf" "text" "Resumé") }} -->
    </header>

</main>

<!--
<section>

    <h2>Featured Projects</h2>
    <p>Stories about work I'm proud of</p>

    <div>
    {{ range where .Site.RegularPages.ByWeight "Section" "case-studies" }}
    <a href="{{ .Permalink }}" class="casestudy-container-link">
        <article class="casestudy-list-entry">
            <div class="casestudy-list-entry-image"></div>
            <div class="casestudy-list-entry-content">
                <h2>{{ .Title }}</h2>
                <ul class="tags">
                    {{ range .Params.tags  }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                <p>{{ .Params.description }}</p>
            </div>
        </article>
    </a>
    {{ end }}
    </div>

</section>
-->

{{- end -}}