{{- define "main" -}}

<main class="page-articles-list">

<header class="article-list-header">
    <h1 class="blockbg">{{ .Title }}</h1>
</header>

<!-- <section>
{{ .Content }}
</section> -->

<section class="article-list">
    {{ range where .Site.RegularPages.ByWeight "Section" "articles" }}
    <a href="{{ .Permalink }}" class="article-container-link">
    <article class="article-list-entry">
        <span class="article-list-metadata"><time>{{ .Date.Format "January 2, 2006" }}</time></span>
        <h2>{{ .Title }}</h2>
        <span class="article-list-deck">{{ .Params.deck }}</span>
    </article>
    </a>
    {{ end }}
</section>

</main>

{{- end -}}