{{- define "main" -}}

<main class="page-article-single">
<article class="main-article">

<header>

    <section class="article-metadata">
        <time>{{ .Date.Format "January 2, 2006" }}</time> &bull; {{ .Params.place }}
    </section>

    <h1 class="article-title">{{ .Title }}</h1>
    
    <hr>
</header>

<!--
<header>
{{ if isset .Params "title" }}
    <h2>{{ .Title }}</h2>
    <small>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ if ne .Date .Lastmod }}<br>Last updated <time>{{ .Lastmod.Format "Jan 2, 2006" }}</time>{{ end }}
    </small>
{{ else }}
<h2>{{ .Date.Format "Jan 2, 2006" }}</h2>
{{ end }}
</header>
-->

<!-- Assumed Audience
{{ with .Params.audience }}
<section class="callout-audience"><strong>Assumed Audience</strong> {{ . }}</section>
{{ end }}
-->

<section>
{{ .Content }}
</section>

<footer class="article-footer">

    <ul>
        <li><a href="/articles/">&#8592; All Articles</a></li>
        <li><a href="mailto:hello@bryansebesta.com" target="_blank">Reply via email</a></li>
    </ul>

<!-- Feeds
{{ if isset .Params "feeds" }}
<ul class="tag-cloud">
    <li>Feeds</li>
    {{ range (.GetTerms "feeds") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
</ul>
{{ end }}
-->

<!-- Tag Cloud
{{ if isset .Params "tags" }}
<ul class="tag-cloud">
    <li>Tags</li>
    {{ range (.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
</ul>
{{ end }}
-->

</footer>

</article>
</main>

{{- end -}}