{{- define "main" -}}

<main>
<article class="center-sections stack">
            
    {{ partial "headers/simple.html" . }}

    <div class="stack-large">

        {{ with .Content }}
        <section class="center-intrinsic prose">
            {{ . }}
        </section>
        {{ end }}
        
        {{ range where .Site.RegularPages.ByDate.Reverse "Section" "now" }}
        <article class="prose now__update">
            <h2>{{ .Title }}</h2>
            {{- with .Params.deck }}<p class="deck">{{ . }}</p>{{ end -}}
            {{ .Content }}
        </article>
        {{ end }}

    </div>

</article>
</main>

{{- end -}}