{{- define "main" -}}

<main>
    <article class="page-prose">

        <header>
            
            <h1>{{ .Title }}</h1>
            {{ with .Params.deck }}<span class="garden-deck">{{ . }}</span>{{ end }}
            <div class="garden-meta-date-wrapper">
                
            </div>
        </header>

        {{ with .Content }}
        <section>
            {{ . }}
        </section>
        {{ end }}
        
        {{ range where .Site.RegularPages.ByDate "Section" "now" }}
        <article class="section-timeline-element">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
        </article>
        {{ end }}

    </article>
</main>

{{- end -}}