{{- define "main" -}}

<main>
<article class="stack center">

    <header>
        <h1>{{ .Title }}</h1>
        {{ with .Params.deck }}<p class="deck">{{ . }}</p>{{ end }}
        <p class="metadata">&nbsp;</p>
    </header>

    {{ with .Content }}
    <section>
        {{ . }}
    </section>
    {{ end }}
    
    {{ range where .Site.RegularPages.ByDate.Reverse "Section" "now" }}
    <article class="section-timeline-element">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
    </article>
    {{ end }}

</article>
</main>

{{- end -}}