{{- define "main" -}}

<main>
<article class="stack">
    
    {{ partial "headers/simple.html" . }}

    <section class="center-intrinsic prose">

        {{ .Content }}

        <div class="grid-small wider">
            <!-- Right now, only book pages have "portfolioFeature." If that changes, I'll need to redo the "first 5" section to make this work properly. -->
            {{ range first 1000 (where .Site.RegularPages.ByWeight ".Params.portfolioFeature" true) }}
            {{ if eq .Section "books" }}
            <article class="homepage__bookscard stack-smaller" onclick="window.location.href='{{ .Permalink }}';">
                <div class="homepage__bookscard_cover" style="background-image: url('{{ .Site.Params.urlBookCovers }}{{ .Params.cover }}')">&nbsp;</div>
                <div>
                    <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                    <p>{{ partial "strings/str-authors-nolinks.html" .Params.authors }}</p>
                </div>
            </article>
            {{ end }}
            {{ end }}
        </div>

    </section>

</article>
</main>

{{- end -}}